<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SudokuPerfConstraintElimination</key>
		<dict>
			<key>testPerfCEOptimized()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0025331</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerfHardToBruteForce()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021339</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Apr 2018 at 18:04:20</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036183</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Apr 2018 at 18:04:20</string>
				</dict>
			</dict>
			<key>testPerfSuite()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44506</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>SudokuPerfTests</key>
		<dict>
			<key>testPerfHardToBruteForce()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>12.325</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfHardToBruteForceDOF()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.17454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfHardToBruteForceFromRowWithMostFilledValues()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.030289</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Feb 2018 at 16:29:48</string>
				</dict>
			</dict>
			<key>testPerfHardToBruteForceFromStart()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>10.585</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Feb 2018 at 16:29:48</string>
				</dict>
			</dict>
			<key>testPerfHardToBruteForceMRVR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035126</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfMultipleSolutions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0034511</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Feb 2018 at 16:29:48</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011912</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokusDOF()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.53</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokusFromRowWithMostFilledValues()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39365</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Feb 2018 at 16:29:48</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokusFromStart()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0096917</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Feb 2018 at 16:29:48</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokusMRVR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44028</real>
					<key>baselineIntegrationDisplayName</key>
					<string>3 Feb 2018 at 14:37:35</string>
				</dict>
			</dict>
			<key>testPerfRandomFullyFilledBoard()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0014045</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Feb 2018 at 10:46:07</string>
				</dict>
			</dict>
			<key>testPerfRandomStartingBoard()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.3869</real>
					<key>baselineIntegrationDisplayName</key>
					<string>11 Feb 2018 at 20:59:06</string>
				</dict>
			</dict>
		</dict>
		<key>SudokuPerfTestsAlt</key>
		<dict>
			<key>testPerfHardToBruteForce()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0336</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>SudokuPerfTestsBacktrack</key>
		<dict>
			<key>testPerfCEOptimized()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.7585e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerfMultipleSolutionsBacktrack()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0031381</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Apr 2018 at 18:04:20</string>
				</dict>
			</dict>
			<key>testPerfNormalSudokus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0078779</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Apr 2018 at 18:04:20</string>
				</dict>
			</dict>
			<key>testPerfRandomFullyFilledBoard()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0011534</real>
					<key>baselineIntegrationDisplayName</key>
					<string>4 Apr 2018 at 18:04:20</string>
				</dict>
			</dict>
			<key>testPerfRandomStartingBoard()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.2245</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerfSuite()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>14.568</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>SudokuTests</key>
		<dict>
			<key>testBitArrayPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000938</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceHardToBruteForce()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>11.436</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceNormalSudokus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013526</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
